<div class="col-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Nouveau Signalement</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <form class="form form-vertical">
                    <div class="form-body">
                        <div class="row">

                            <div class="col-12">
                                <div class="form-group has-icon-left">
                                    <label for="first-name-icon">code</label>
                                    <div class="position-relative">
                                        <input type="text" class="form-control" placeholder="Nommer votre signalement"
                                            id="first-name-icon">
                                        <div class="form-control-icon">
                                            <i class="bi bi-pen"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-12">
                                <div class="form-group has-icon-left">
                                    <label for="mobile-id-icon">Description</label>
                                    <div class="position-relative">
                                        <input type="text" class="form-control" placeholder="Faite une description du probleme" id="mobile-id-icon">
                                        <div class="form-control-icon">
                                            <i class="bi bi-pen"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="formFileMultiple" class="form-label">Ajouter un fichier join</label>
                                <input class="form-control" type="file" id="formFileMultiple" multiple>
                            </div>

                            <div class="col-12 d-flex justify-content-center">
                                <button type="submit" class="btn btn-primary w-50 me-1 mb-1">Envoyer</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>