<div id="auth">

    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div id="auth-left">
                <div class="auth-logo">
                    <a href=""><img src="assets/images/logo/logo.png" alt="Logo"></a>
                </div>
                <h1 class="auth-title">Inscription</h1>
                <p class="auth-subtitle mb-5">Entrer vos informations</p>

                <form [formGroup]="utilisateurForm" (ngSubmit)="onSubmit()">

                    <!-- Message de succès -->
                    <div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
                    <!-- Message d'erreur -->
                    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

                    <!-- nom et prenom -->
                    <div class="d-flex gap-3">
                        <div class="">
                            <div *ngIf="form['nom'].invalid && form['nom'].touched" class="text-danger">
                                <small *ngIf="form['nom'].errors?.['required']">Le nom est requis.</small>
                                <small *ngIf="form['nom'].errors?.['minlength']">Le nom doit avoir au moins 3
                                    caractères.</small>
                            </div>
                            <div class="form-group position-relative has-icon-left">
                                <input type="text" class="form-control form-control-xl" formControlName="nom"
                                    placeholder="Nom">
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <div *ngIf="form['prenom'].invalid && form['prenom'].touched" class="text-danger">
                                <small *ngIf="form['prenom'].errors?.['required']">Le prenom est requis.</small>
                                <small *ngIf="form['prenom'].errors?.['minlength']">Le prenom doit avoir au moins 3
                                    caractères.</small>
                            </div>
                            <div class="form-group position-relative has-icon-left">
                                <input type="text" class="form-control form-control-xl" formControlName="prenom"
                                    placeholder="Prenom">
                                <div class="form-control-icon">
                                    <i class="bi bi-person"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- cni -->
                    <div class="">
                        <div *ngIf="form['cni'].invalid && form['cni'].touched" class="text-danger">
                            <small *ngIf="form['cni'].errors?.['required']">numero d'identite requis.</small>
                            <small *ngIf="form['cni'].errors?.['pattern']">Format invalide. Exemple attendu :
                                1234-567-8910.</small>
                        </div>
                        <div class="form-group position-relative has-icon-left">
                            <input type="text" class="form-control form-control-xl" formControlName="cni"
                                placeholder="cni">
                            <div class="form-control-icon">
                                <i class="bi bi-file-earmark-person"></i>
                            </div>
                        </div>
                    </div>

                    <!-- email -->
                    <div>
                        <div *ngIf="form['email'].invalid && form['email'].touched" class="text-danger">
                            <small *ngIf="form['email'].errors?.['required']">L'email est requis.</small>
                            <small *ngIf="form['email'].errors?.['pattern']">Le Format est invalide.</small>
                        </div>
                        <div class="form-group position-relative has-icon-left">
                            <input type="email" class="form-control form-control-xl" formControlName="email"
                                placeholder="Email">
                            <div class="form-control-icon">
                                <i class="bi bi-envelope"></i>
                            </div>
                        </div>
                    </div>

                    <!-- numero -->
                    <div>
                        <div *ngIf="form['numero'].invalid && form['numero'].touched" class="text-danger">
                            <small *ngIf="form['numero'].errors?.['required']">Le numero est requis.</small>
                            <small *ngIf="form['numero'].errors?.['minlength']">Le numero doit avoir 8 chiffres.</small>
                            <small *ngIf="form['numero'].errors?.['maxlength']">Le numero doit avoir 8 chiffres.</small>
                        </div>
                        <div class="form-group position-relative has-icon-left">
                            <input type="tel" class="form-control form-control-xl" formControlName="numero"
                                placeholder="numero">
                            <div class="form-control-icon">
                                <i class="bi bi-telephone"></i>
                            </div>
                        </div>
                    </div>

                    <!-- adresse -->
                    <div class="form-group position-relative has-icon-left ">
                        <input type="text" class="form-control form-control-xl" formControlName="adresse"
                            placeholder="adresse">
                        <div class="form-control-icon">
                            <i class="bi bi-phone-landscape"></i>
                        </div>
                    </div>

                    <!-- mot de passe -->
                    <div>
                        <div *ngIf="form['motDePasse'].invalid && form['motDePasse'].touched" class="text-danger">
                            <small *ngIf="form['motDePasse'].errors?.['required']">Le mot de passe est requis.</small>
                            <small *ngIf="form['motDePasse'].errors?.['pattern']">mot de passe trop evidant !</small>
                        </div>
                        <div class="form-group position-relative has-icon-left">
                            <input type="password" class="form-control form-control-xl" formControlName="motDePasse"
                                placeholder="Mot de passe">
                            <div class="form-control-icon">
                                <i class="bi bi-shield-lock"></i>
                            </div>
                        </div>
                    </div>

                    <!-- mot de passe confirmation -->
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input type="password" name="password" class="form-control form-control-xl"
                            placeholder="Confirmer mot de passe" formControlName="passwordConfirmation">
                        <div class="form-control-icon">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-block btn-lg shadow-lg mt-5" type="submit" [disabled]="utilisateurForm.invalid">Envoyer</button>
                </form>
                <div class="text-center mt-5 text-lg fs-4">
                    <p class='text-gray-600'>deja inscrit ? <a routerLink="/auth/login" class="font-bold"> se connecter
                        </a>.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">

            </div>
        </div>
    </div>

</div>